
	<p>Answer this question:</p>

	<form action="/questions/<%=@question.id%>/answer" method="post">
		<textarea name="answer" class="text-form" placeholder="Your answer"></textarea>
		<br><br>
		<input type="submit" value="Submit">
	</form>
