<!DOCTYPE html>
<html>
<head>
<h2>Login here</h2>
</head>

<body>
<form method=post action=/login>

	<input type=text placeholder="Email" name="email"><br>
	<input type=password placeholder="Password" name="password"></br>
    <input type=submit value="Sign in">

</form>

</body>
</html>