<div class="container text">
	<p>Ask a question:</p>

	<form action="/newquestion" method="post">
		<textarea name="question" class="text-form" placeholder="Your question"></textarea>
		<br><br>
		<input type="submit" value="Submit">
	</form>
</div>